
.container {
    flex: 1;
    background-color: #fff;
    margin-top: 35px;
}
.title {
    color: green;
    font-size: 40px;
    border: 1px solid #333;
    border-radius: 12px;
}
.img {
    width: 500px;
    height: 500px;
}