.button {
    width: 90%;
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 10px;
}
.text {
    font-weight: 500;
    margin: 18px 0;

    // font-size: 20px;
    text-align: center;
}
.arrow {
    position: absolute;
    top: 40%;
    right: 22%;
    tint-color: rgba(12, 3, 0, 1);
}