.video {
    align-self: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
    height: 115px;
    border: solid 1px rgba(12, 3, 0, 0.5);
    overflow: hidden;
    border-radius: 10px;
    background-color: #000000;
}
.play {
    position: absolute;
    top: 30%;
    left: 40%;
    width: 20%;
    height: 20%;
}
.videobox {
    position: relative;
    width: 48%;
    height: 150px;
    margin-bottom: 30px;
}
.poster {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}
.image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.text {
    margin-top: 5px;
    width: 70%;
}