.active {
    flex: 1;
    align-items: center;
    justify-content: space-between;
    background-color: #F3EDDF;
    position: relative;
    &__title {
        margin: 0 auto 30px;
        font-weight: 500;
        text-transform: uppercase;
        width: 70%;
        text-align: center;
        color: #0C0300;
    }
    &__container {
        margin: 0 auto;
        width: 90%;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-around;
    }
}
.container {
    flex: 1;
    background-color: #F3EDDF;
    width: 100%;
    // justify-content: flex-start;
    position: relative;
    justify-content: space-between;
}