.container {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    // height: 270px;
    padding: 0 5%;
}
.image {
    height: 100%;
    margin: 0 auto;
    width: 100%;
    background-position: center center;
}
.title {

    font-weight: 500;
    // font-size: 1.6rem;
    color: rgba(12, 3, 0, 1);
    width: 50%;
    margin: 0 auto;
    margin-bottom: 5%;
    // margin-top: 12%;
    text-align: center;
    text-transform: uppercase
}
.text {
    font-weight: 300;
    font-size: 14px;
    color: rgba(12, 3, 0, 1);
    text-align: center;
    width: 45%;
    margin: 0 auto;
}
.textContainer {
    flex: 1;
    justify-content: center;
}